.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vi;
  box-shadow: var(--interactive-shadow);
}

.btn:hover:not(:disabled),
.btn:focus-visible:not(:disabled) {
  transform: translateY(-1px);
  box-shadow: var(--focus-ring), var(--interactive-shadow-hover);
}

.btn:active:not(:disabled) {
  transform: translateY(0) scale(0.98);
  box-shadow: var(--interactive-shadow);
}

.btn:disabled {
  transform: none;
  box-shadow: none;
}

.btn--primary {
  padding: 16px;
  color: var(--clr-surface-100);
  background: linear-gradient(to bottom, var(--clr-primary-400), var(--clr-primary-300));
  font-size: 1.1rem;
  font-weight: var(--fw-600);
}

.btn--primary:hover:not(:disabled),
.btn--primary:focus-visible:not(:disabled) {
  background: linear-gradient(to bottom, var(--clr-primary-500), var(--clr-primary-400));
}

.btn--primary:active:not(:disabled) {
  background: var(--clr-primary-600);
}

.filter__button {
  padding: var(--space-2xs) var(--space-s);
  border-radius: 100rem;
  color: var(--clr-secondary-700);
  background-color: var(--clr-surface-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  letter-spacing: 0.7px;
}

.filter__button:hover:not(:disabled),
.filter__button:focus-visible:not(:disabled) {
  color: var(--clr-surface-100);
  background-color: var(--clr-primary-400);
}

.filter__button:active:not(:disabled) {
  transform: scale(0.97);
  color: var(--clr-surface-100);
  background-color: var(--clr-primary-600);
}

.filter__button--active {
  color: var(--clr-surface-100);
  background-color: var(--clr-primary-500);
}

.filter__button--active:hover:not(:disabled),
.filter__button--active:focus-visible:not(:disabled) {
  color: var(--clr-surface-100);
  background-color: var(--clr-primary-500);
}

.filter__button--active:active:not(:disabled) {
  background-color: var(--clr-primary-600);
}
