.custom-select {
  position: relative;
  display: inline-block;
  inline-size: 100%;
  max-width: 100%;
}

.select-button {
  font-size: var(--fs-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.675em 1em;

  border-radius: 0.25rem;
  background-color: var(--clr-surface-400);
  cursor: pointer;
}

.select-button:hover {
  background-color: var(--clr-surface-600);
}

.select-button:focus-visible {
  box-shadow: var(--focus-ring);
}

.select-button:active {
  transform: scale(0.99);
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--clr-secondary-900);
  transition: transform var(--duration-interactive) var(--ease-interactive);
}

.select-button[aria-expanded="true"] .arrow {
  transform: rotate(180deg);
}

.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  border-radius: 0.25rem;
  background-color: var(--clr-surface-400);
  list-style: none;
  padding: 10px;
  margin: 10px 0 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-height: 220px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  gap: 4px;
}


.select-dropdown li {
  padding: 10px;
  cursor: pointer;

  font-size: var(--fs-300);
  font-weight: var(--fw-400);

  border-radius: 4px;
  transition:
    color var(--duration-interactive) var(--ease-interactive),
    background-color var(--duration-interactive) var(--ease-interactive),
    box-shadow var(--duration-interactive) var(--ease-interactive);
}


.select-dropdown li.selected {
  background-color: var(--clr-primary-500);
  color: var(--clr-surface-100);
  border-radius: 4px;
  font-weight: var(--fw-600);
}

.select-dropdown li:hover,
.select-dropdown li:focus-visible {
  background-color: var(--clr-primary-400);
  color: var(--clr-surface-100);
  border-radius: 4px;
}

.select-dropdown li:focus-visible {
  outline: 0;
  box-shadow: var(--focus-ring);
}

.select-dropdown li:active {
  background-color: var(--clr-primary-600);
  color: var(--clr-surface-100);
}

.select-dropdown li.selected:hover,
.select-dropdown li.selected:focus-visible {
  background-color: var(--clr-primary-500);
  color: var(--clr-surface-100);
}
