.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-s) var(--space-2xs);

  gap: 2rem;

  background-color: var(--clr-surface-100);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;


  @media (width >=400px) {
    padding: var(--space-s) var(--space-m);
  }

  @media (width >=1200px) {
    position: static;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;


  @media (width >=1200px) {
    display: none;
  }
}

.logo-image {
  max-width: 90px;
}

.input-box--header {
  display: none;
  max-inline-size: 600px;

  @media (width >=600px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  margin-inline-start: auto;
}

.avatar {
  width: 36px;
  height: 36px;

  border-radius: 100rem;

  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-primary-400);
  color: var(--clr-surface-100);

  font-size: 14px;

  user-select: none;

  @media (width >=1200px) {
    width: 40px;
    height: 40px;

    font-size: 16px;
  }
}

.notifications {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-inline-end: 8px;
  border-radius: 100rem;
}

.notifications svg {
  stroke-width: 1.5px;

  color: var(--clr-secondary-700);

  width: 30px;
  height: 30px;

  @media (width >=1200px) {
    width: 36px;
    height: 36px;
  }
}

.notifications__count {
  position: absolute;

  width: 20px;
  height: 20px;

  padding: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 11px;

  background-color: var(--clr-primary-400);
  color: var(--clr-surface-100);
  border-radius: 100rem;

  right: -8px;
  bottom: -5px;
}

.notifications:hover:not(:disabled) svg,
.notifications:focus-visible:not(:disabled) svg,
.logout-btn:hover:not(:disabled) svg,
.logout-btn:focus-visible:not(:disabled) svg {
  color: var(--clr-primary-400);
}

.logo-wrapper,
.actions {
  flex-shrink: 0;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
}

.logout-btn svg {
  stroke-width: 1.5px;

  color: var(--clr-secondary-700);

  width: 30px;
  height: 30px;

  @media (width >=1200px) {
    width: 36px;
    height: 36px;
  }
}

.notifications:active:not(:disabled),
.logout-btn:active:not(:disabled) {
  transform: scale(0.94);
}

.notifications:focus-visible,
.logout-btn:focus-visible {
  box-shadow: var(--focus-ring);
}
