.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-s) var(--space-m);

  gap: 2rem;

  background-color: var(--clr-surface-100);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;

  @media (width >=1200px) {
    position: static;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;


  @media (width >=1200px) {
    display: none;
  }
}

.logo-image {
  max-width: 90px;
}

.input-box {
  display: none;
  position: relative;

  flex: 1 1 0;
  max-inline-size: 600px;


  @media (width >=600px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.search-btn {
  position: absolute;
  top: 50%;
  left: 0;

  translate: 12px -50%;
}

.search-btn svg {
  stroke-width: 1.5px;
  color: var(--clr-secondary-700);
}

.input-box .input-search {
  padding-left: 50px;
  inline-size: 100%;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  margin-inline-start: auto;
}

.avatar {
  width: 42px;
  height: 42px;

  border-radius: 100rem;

  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-primary-400);
  color: var(--clr-surface-100);

  font-size: 16px;
}

.notifications {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.notifications svg {
  stroke-width: 1.5px;

  color: var(--clr-secondary-700);

  width: 28px;
  height: 28px;
}

.notifications__count {
  position: absolute;

  width: 20px;
  height: 20px;

  padding: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 11px;

  background-color: var(--clr-primary-400);
  color: var(--clr-surface-100);
  border-radius: 100rem;

  right: -8px;
  bottom: -5px;
}

.logo-wrapper,
.actions {
  flex-shrink: 0;
}