.input-box {
  flex: 1 1 0;
  position: relative;
}

.search-btn {
  position: absolute;
  top: 50%;
  left: 0;

  translate: 12px -50%;
}

.search-btn svg {
  stroke-width: 1.5px;
  color: var(--clr-secondary-700);
}

.input-box .input-search {
  padding-left: 50px;
  inline-size: 100%;
}