.card-activity__list__item {
  display: block;
}

.card-payment {
  display: flex;

  align-items: center;

  gap: var(--space-xs);

  padding: var(--space-xs);
  background-color: var(--clr-surface-100);
  border-radius: 12px;
}

.card-payment__icon {
  flex-shrink: 0;

  background-color: var(--clr-surface-300);
  color: var(--clr-secondary-900);

  inline-size: 50px;
  block-size: 50px;

  border-radius: 100rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-payment__icon svg {
  inline-size: 100%;
  block-size: 100%;

  max-inline-size: 30px;
  max-block-size: 30px;

  stroke-width: 2px;
  stroke: currentColor;
}

.card-payment__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card-payment__name {
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
  color: var(--clr-secondary-900);
}

.card-payment__info div {
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
  color: var(--clr-secondary-500);

  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  align-items: center;
}

.card-payment__total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;

  margin-inline-start: auto;
}

.card-payment__value {
  font-family: var(--ff-secondary);
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
}

.card-payment__value.card-payment__value--income {
  color: var(--clr-green-500);
}

.card-payment__value.card-payment__value--expense {
  color: var(--clr-red-500);
}

.card-payment__status {
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  color: var(--clr-secondary-300);

  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
}
