.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: var(--space-s);

  justify-content: center;
}

.card-container {
  inline-size: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: var(--space-xs);

  flex: 1;
}

.card-action {
  display: block;
  flex: 1;
}

.card-action__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: var(--fs-200);
  font-weight: var(--fw-500);

  color: var(--clr-secondary-700);
  background-color: var(--clr-surface-100);
  padding: var(--space-xs);
  border-radius: 12px;

  text-wrap: nowrap;

  inline-size: 100%;
  block-size: 100%;
}

.card-action__button__icon-wrapper {
  inline-size: 48px;
  block-size: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-primary-100);
  color: var(--clr-primary-400);

  border-radius: 100rem;
}

.card-action__button__icon-wrapper svg {
  width: 20px;
  height: 20px;

  stroke-width: 1.5;
}

.section-settings {
  display: flex;
  flex-direction: column;

  gap: var(--space-m);
}

.section-settings h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
}

.card-settings {
  display: flex;
  flex-direction: column;

  gap: var(--space-m);
  padding: var(--space-s);

  background-color: var(--clr-surface-300);

  border-radius: 12px;

  @media (width >=725px) {
    flex-direction: row;
    gap: var(--space-s);

    justify-content: space-between;
  }
}

.card-settings ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.card-settings li {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: var(--space-s);
}

.card-settings__icon {
  flex-shrink: 0;

  inline-size: 42px;
  block-size: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-surface-100);

  border-radius: 100rem;


  @media (width >=1000px) {
    inline-size: var(--fs-800);
    block-size: var(--fs-800);
  }
}

.card-settings__icon svg {
  inline-size: 22px;
  block-size: 22px;
  stroke-width: 2;

  color: var(--clr-primary-400);

  @media (width >=1000px) {
    inline-size: var(--fs-500);
    block-size: var(--fs-500);
  }
}

.card-settings__title-group {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.card-settings__title {
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  font-family: var(--ff-primary);
}

.card-settings__subtitle {
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
}

.card-settings__action {
  font-size: var(--fs-200);
}

.separator-line {
  inline-size: 100%;
  block-size: 1px;

  background-color: var(--clr-surface-600);

  @media (width >=725px) {
    inline-size: 1px;
    block-size: unset;
  }
}