.greeting hgroup {
  display: flex;
  flex-direction: column;
}

.greeting .current-date {
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  color: var(--clr-secondary-500);

  letter-spacing: 0.7px;
  line-height: 1.1;
  text-transform: uppercase;
}

.greeting .greeting__title {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  color: var(--clr-secondary-900);

  line-height: 1.3;
}

.account-dashbaord {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  @media (width >=820px) {
    flex-direction: row;
  }
}

.account-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: var(--space-s);

  padding: var(--space-s);
  background-color: var(--clr-surface-100);
  border-radius: 8px;

  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);


  @media (width >=820px) {
    flex-direction: column;
    flex-basis: fit-content;

    padding: var(--space-m);
  }

  @media (width >=1415px) {
    flex-basis: 400px;
  }
}

.account-details__title {
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  color: var(--clr-secondary-500);
}

.account-details__balance {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  color: var(--clr-secondary-900);
}

.month-spent-wrapper {
  width: fit-content;
}

.month-spent {
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  color: var(--clr-secondary-500);
  letter-spacing: 1.2px;
  line-height: 1.4;
  text-transform: uppercase;

  margin-block-end: 5px;
}

.month-spent-number {
  font-family: var(--ff-secondary);
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  color: var(--clr-secondary-900);

  display: block;
}

.month-spent-progress {
  display: block;
  inline-size: 100%;
  block-size: 7px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  border: 0;
  border-radius: 6px;
}

.month-spent-progress::-webkit-progress-bar {
  background-color: var(--clr-surface-400);
  border: 0;
  border-radius: 6px;
}

.month-spent-progress::-webkit-progress-value {
  background-color: var(--clr-primary-400);
  border: 0;
  border-radius: 6px;
}

.month-spent-progress::-moz-progress-bar {
  border: 0;
  border-radius: 6px;
}

.account-actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);

  @media (width >=820px) {
    flex: 1;
  }
}

.account-actions .account__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-2xs);

  padding: var(--space-s);
  background-color: var(--clr-surface-400);
  border-radius: 12px;

  flex: 1;
  flex-basis: 150px;

  transition: background-color 300ms ease-in-out;
}

.account-actions .account__action:hover {
  background-color: var(--clr-surface-500);
}

.account__action span {
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  color: var(--clr-secondary-900);

  letter-spacing: 0.35px;
  line-height: 1.2;
}

.account__action .account-action__icon-wrapper {
  max-inline-size: 48px;
  max-block-size: 44px;

  padding: 12px;

  inline-size: 100%;
  block-size: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsl(208 100% 34% / 0.1);
  color: var(--clr-primary-400);
  border-radius: 12px;
}

.account__action .account-action__icon-wrapper,
.account__action span {
  transition: color 300ms ease-in-out;
}

.account-actions .account__action:hover .account-action__icon-wrapper,
.account-actions .account__action:hover span {
  color: var(--clr-primary-400);
}

.account-action__icon-wrapper svg {
  width: 24px;
  height: 24px;

  stroke-width: 2px;
  stroke: currentColor;

  transition: stroke 300ms ease-in-out;
}

.account-actions .account__action.account__action--send {
  background-color: var(--clr-primary-400);
}

.account-actions .account__action.account__action--send .account-action__icon-wrapper {
  background-color: hsl(255 50% 100% / 0.1);
  color: var(--clr-surface-100);
}

.account-actions .account__action.account__action--send span {
  color: var(--clr-surface-100);
}

.account-actions .account__action.account__action--send:hover {
  background-color: var(--clr-primary-500);
}

.account-actions .account__action.account__action--send:hover .account-action__icon-wrapper,
.account-actions .account__action.account__action--send:hover span {
  color: var(--clr-surface-100);
}

.card-sections {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  max-inline-size: fit-content;
}

.card-section__header {
  display: flex;
  gap: var(--space-s);
  align-items: center;
  justify-content: space-between;
}

.card-section__header h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-800);
  color: var(--clr-secondary-900);
}

.card-section__header .card-manage-link {
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  color: var(--clr-primary-400);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;

  transition: color 300ms ease-in-out;
}

.card-section__header .card-manage-link svg {
  stroke: currentColor;
  stroke-width: 2px;
  inline-size: 100%;
  block-size: 100%;

  width: var(--fs-200);
  height: var(--fs-200);

  transform: translateY(0px);
}



.card-activity {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  flex: 1;

  @media (width >=450px) {
    min-inline-size: 385px;
  }
}

.card-activity__header {
  display: flex;
  gap: var(--space-s);
  align-items: center;
  justify-content: space-between;
}

.card-activity__header h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-800);
  color: var(--clr-secondary-900);
}

.card-activity__header .card-manage-link {
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  color: var(--clr-primary-400);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;

  transition: color 300ms ease-in-out;
}

.card-activity__header .card-manage-link svg {
  stroke: currentColor;
  stroke-width: 2px;
  inline-size: 100%;
  block-size: 100%;

  width: var(--fs-200);
  height: var(--fs-200);

  transform: translateY(0px);
}

.card-activity__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  padding: var(--space-xs);

  border-radius: 12px;
  background-color: var(--clr-surface-300);
}

.card-activity__list__item {
  display: block;
}

.card-payment {
  display: flex;

  align-items: center;

  gap: var(--space-xs);

  padding: var(--space-xs);
  background-color: var(--clr-surface-100);
  border-radius: 12px;
}

.card-payment__icon {
  flex-shrink: 0;

  background-color: var(--clr-surface-300);
  color: var(--clr-secondary-900);

  inline-size: 50px;
  block-size: 50px;

  border-radius: 100rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-payment__icon svg {
  inline-size: 100%;
  block-size: 100%;

  max-inline-size: 30px;
  max-block-size: 30px;

  stroke-width: 2px;
  stroke: currentColor;
}

.card-payment__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card-payment__info h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
  color: var(--clr-secondary-900);
}

.card-payment__info div {
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
  color: var(--clr-secondary-500);

  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  align-items: center;
}

.card-payment__total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;

  margin-inline-start: auto;
}

.card-payment__value {
  font-family: var(--ff-secondary);
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
}

.card-payment__value.card-payment__value--income {
  color: var(--clr-green-500);
}

.card-payment__value.card-payment__value--expense {
  color: var(--clr-red-500);
}

.card-payment__status {
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  color: var(--clr-secondary-300);

  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
}

.month-spending-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  padding: var(--space-xs);
  border-radius: 12px;
  background-color: var(--clr-surface-300);
}

.month-spending-section h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-800);
  color: var(--clr-secondary-900);

  @media (width >=450px) {
    text-align: center;
  }
}

.month-spending__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);

  @media (width >=450px) {
    align-items: center;
  }
}

.month-spending__item {
  display: flex;
  align-items: center;

  gap: var(--space-s);
}

.month-spending__dot {
  flex-shrink: 0;

  inline-size: 12px;
  block-size: 12px;

  background-color: var(--clr-primary-500);
  border-radius: 100rem;
}

.month-spending__title {
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  color: var(--clr-secondary-900);
  font-family: var(--ff-primary);
}

.month-spending__value {
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  color: var(--clr-secondary-900);

  margin-inline-start: auto;
}