.section-login {
  min-height: 100dvh;
}

.advertisement {
  display: none;

  background-color: var(--clr-primary-300);
  padding: var(--space-l);

  grid-column: 1/6;


  @media (width >=1024px) {
    display: block;
  }
}

.advertisement__title {
  font-size: var(--fs-700);

  margin-block: 2rem 1rem;
  line-height: 1.3;
}

.advertisement__title-part-one,
.advertisement__title-part-two {
  text-wrap: nowrap;
  display: block;
}

.advertisement__title-part-one {
  color: var(--clr-surface-100);
}

.advertisement__title-part-two {
  color: var(--clr-primary-100);
}

.adverisement__subtitle {
  max-width: 65ch;
  font-size: var(--fs-300);

  color: var(--clr-primary-100);
}

.form-section {
  display: flex;
  flex-direction: column;

  justify-content: center;

  background-color: var(--clr-surface-200);
  gap: var(--space-m);
  padding: var(--space-l);

  grid-column: 1/-1;

  @media (width >=1024px) {
    grid-column: 6/-1;
  }
}

.form-container {
  container-type: inline-size;
  container-name: form;
}

.img-logo--form {
  inline-size: 9rem;

  margin-inline: auto;


  @media (width >=1024px) {
    display: none;
  }
}

.header h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-800);

  color: var(--clr-secondary-900);
}

.header p {
  font-size: var(--fs-300);
  color: var(--clr-secondary-700);
}

.form {
  display: flex;
  flex-direction: column;
}

.form .form__row {
  margin-bottom: 0.85rem;
}

.form .form__row:last-child {
  margin-bottom: 0;
}

.form__row {
  display: flex;
  flex-direction: column;

  gap: 0.4rem
}

.form__row__input-box {
  position: relative;
}

.form__row__input-box input {
  width: 100%;

  padding-inline-end: 2.5rem;
}

.form__row_button_show-password {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  cursor: pointer;

  color: var(--clr-secondary-700);
  background-color: transparent;
  border: none;
}

.form__row_button_show-password:hover {
  color: var(--clr-primary-400);
}

.form__row_button_show-password:active {
  color: var(--clr-primary-500);
}

.form__row_button_show-password:focus-visible {
  color: var(--clr-primary-500);
}

.form__row_button_show-password:disabled {
  color: var(--clr-secondary-400);
}

.form__error {
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  color: var(--clr-alert-500);

  padding-inline-start: 5px;
}



.password-progress {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  margin-block-start: 6px;
}

.password-progress__wrapper {
  display: flex;
  gap: 0.2rem;

  padding-inline-start: 5px;
}

.password-progress__line {
  flex: 1;

  height: 5px;

  border-radius: 100px;
}

.password-progress__line.weak {
  background-color: var(--clr-alert-500);
}

.password-progress__line.medium {
  background-color: var(--clr-warning-400);
}

.password-progress__line.strong {
  background-color: var(--clr-warning-500);
}

.password-progress__line.perfect {
  background-color: var(--clr-primary-300);
}

.password-progress__line.cover {
  background-color: var(--clr-secondary-400) !important;
  ;
}


.form__label--terms {
  display: flex;
  align-items: start;
  gap: 0.5rem;

  font-size: var(--fs-200);

  color: var(--clr-secondary-700);

  cursor: pointer;
}


.form__label--terms input {
  translate: 0 3px;
  cursor: pointer;
}


.btn--form {
  margin-block: 1rem;
  margin-inline: auto;

  max-inline-size: 576px;
  inline-size: 100%;
}

.account-information {
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  text-align: center;
  color: var(--clr-secondary-700);

}

@container form (width >=600px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 0.8rem;
  }

  .form .form__row {
    margin-bottom: 0;
  }

  .btn--form {
    grid-column: 1/-1;
  }

  .account-information {
    grid-column: 1/-1;
  }

  .form__row:has(.form__label--terms) {
    grid-column: 1/-1;
  }
}