body {
  font-size: var(--fs-500);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  line-height: 1.5;

  accent-color: var(--clr-primary);
  background-color: var(--clr-surface-200);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
}



a:link,
a:visited {
  text-decoration: none;

  color: var(--clr-primary-400);
  font-weight: var(--fw-700);

  transition: all 0.3s ease-in-out;
}

a:hover,
a:active,
a:focus-visible {
  color: var(--clr-primary-500);
}

button {
  border: none;
  cursor: pointer;

  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

label {
  font-size: var(--fs-200);
  font-weight: var(--fw-600);

  color: var(--clr-secondary-700);

  padding-inline-start: 5px
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  border: none;
  outline: none;

  padding-inline: 1rem;
  padding-block: 0.8rem;

  color: var(--clr-secondary-900);
  background-color: var(--clr-surface-400);
  border-radius: 12px;

  font-size: var(--fs-300);
}

input::placeholder {
  color: var(--clr-secondary-400);
}

input[type="password"]::placeholder {
  translate: 0 2.5px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;

  font: inherit;
  color: var(--clr-primary-300);
  width: 18px;
  height: 18px;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  flex-shrink: 0;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--clr-primary-300);

  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus-visible {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.lucide {
  color: var(--clr-primary);
  width: 100%;
  height: 100%;

  stroke-width: 1px;
}

.hidden {
  display: none;
}