.layout-wrapper {
  max-inline-size: 160rem;
  margin-inline: auto;
}

.header {
  grid-area: header;
}

.main {
  grid-area: content;
  overflow: auto;

  padding: var(--space-s) var(--space-xs);

  @media (width >=400px) {
    padding: var(--space-s) var(--space-m);
  }
}

.sidebar {
  grid-area: sidebar;
}

.base-layout {
  display: grid;
  grid-template-areas:
    "header header header header header header header header header header header header"
    "content content content content content content content content content content content content"
    "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
  ;

  grid-template-rows: max-content 1fr max-content;

  max-block-size: 100dvb;
  min-block-size: 100dvb;

  max-inline-size: 160rem;
  margin-inline: auto;

  @media (width >=1200px) {
    grid-template-areas:
      "sidebar sidebar sidebar header header header header header header header header header"
      "sidebar sidebar sidebar content content content content content content content content content";
  }
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}